@model CC9_Question2.Models.Movie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
 
<div>
<strong>@Model.MovieName</strong> by <strong>@Model.DirectorName</strong> released on <strong>@Model.DateOfRelease.ToShortDateString()</strong>
</div>
 
@using (Html.BeginForm("Delete", "Movie", FormMethod.Post))

{

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.MovieId)
<button type="submit" class="btn btn-danger">Delete</button>

    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })

}

 